<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>


<link rel="stylesheet" href="/css/footer.css">

<footer class="text-lg-start bg text-muted">

    <section class="bgedit">
        <div class="cont">

            <div class="mainCont">

                <div class="companyInfo">

                    <div class="one">
                        <h4 style="color:#fbe600ba" class="text-uppercase">
                            <i style="color:#fbe600ba !important "  class="fas fa-gem me-3 text-secondary"></i>&nbsp;CONTENT BAZZAAR
                        </h4>
                        <br>
                        <span>
                            We’ve crafted our blog to share what we’ve learned working on content marketing projects for
                            thousands of clients. Start reading now to get expert insight on content creation, SEO and
                            content marketing tips, tactics and strategies.
                        </span>
                        <br><br>
                        <div class="social">
                            <a href="#" class="me-4 link-secondary">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                            <a href="#" class="me-4 link-secondary">
                                <i class="fab fa-twitter"></i>
                            </a>
                            <a href="#" class="me-4 link-secondary">
                                <i class="fab fa-instagram"></i>
                            </a>
                            <a href="https://www.linkedin.com/company/content-bazzaar/" target="_blank"
                                class="me-4 link-secondary">
                                <i class="fab fa-linkedin"></i>
                            </a>
                            <a target="_blank" href="https://github.com/Lakshaynailwal/ContentWebpage"
                                class="me-4 link-secondary">
                                <i class="fab fa-github"></i>
                            </a>
                        </div>

                        <div class="contact">
                            <h5 class="text-uppercase  mt-4">
                                Reach out to us at
                            </h5>
                            <!-- <span><span style="color: #007fff;">Address</span>:&nbsp; IIT Mandi North Campus</span> -->
                            <!-- <br> -->
                            <span><span style="color: #fbe600ba">Email</span>:&nbsp;<a style="color: white; "
                                    target="_blank" href="mailto:info@contentbazzaar.com">info@contentbazzaar.com</a>
                            </span>
                            <!-- <br> -->
                            <!-- <span><span style="color: #007fff;">Phone</span>:&nbsp; +91 7838131836</span> -->
                        </div>

                    </div>

                    <br>
                    <br>
                    <div class="sec">
                        <div class="Links">

                            <h5 class="text-uppercase fw-bold mb-4">
                                Useful links
                            </h5>
                            <span>
                                <a href="/" class="text-reset">Home</a>
                            </span>
                            <span>
                                <a href="/#about" class="text-reset">About Us</a>
                            </span>
                            <span>
                                <a href="/#contact" class="text-reset">Contact Us</a>
                            </span>
                            <span>
                                <a href="/blog" class="text-reset">Blogs</a>
                            </span>
                        </div>

                        <div class="Links">

                            <h5 class="text-uppercase fw-bold mb-4">
                                Services
                            </h5>

                            <span>
                                <a href="/#blog" class="text-reset">Blog Posts</a>
                            </span>
                            <span>
                                <a href="/#website" class="text-reset">Website Content</a>
                            </span>
                            <span>
                                <a href="/#tech" class="text-reset">Technical Writing</a>
                            </span>
                            <span>
                                <a href="/#press" class="text-reset">Press Releases</a>
                            </span>
                            <span>
                                <a href="/#copy" class="text-reset">Copy Writing</a>
                            </span>
                            <span>
                                <a href="/#ebook" class="text-reset">Ebook Writing</a>
                            </span>
                            <span>
                                <a href="/#white" class="text-reset">White Papers</a>
                            </span>
                            <span>
                                <a href="/#email" class="text-reset">Email Newsletter</a>
                            </span>
                            <span>
                                <a href="/#product" class="text-reset">Product Description</a>
                            </span>

                        </div>
                    </div>


                </div>

                <br>

                <!-- <div class="maps">

                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3391.819824640186!2d76.98388601497369!3d31.775399781286016!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3904e36054b1fd81%3A0xc3174a90dec9f339!2sIndian%20Institute%20Of%20Technology%E2%80%93Mandi%20(IIT%E2%80%93Mandi)!5e0!3m2!1sen!2sin!4v1675524712878!5m2!1sen!2sin"
                        width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"></iframe> -->
                <!-- </div> -->

            </div>
        </div>

        <div class="text-center p-4" style="background-color: #1b0051;">
            © 2023 Copyright: Content Bazzaar
        </div>
    </section>

    <!-- <section class="d-flex align-items-center justify-content-center justify-content-lg-between  border-bottom">
    </section> -->
    <!-- Section: Links  -->

    <!-- Copyright -->
    <!-- Copyright -->
</footer>
<!-- Footer -->