<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<link rel="stylesheet" href="/css/navbar.css">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a  class="navbar-brand" href="/"><img class ="img" src="/images/logo.png" alt=""></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item ">
                <a class="nav-link" href="/">Home </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/#about">About Us</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/#contact">Contact Us</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/blog">Blogs</a>
            </li>
                <li class="nav-item">
                    <a class="nav-link" href="/blog/paid/buy">Purchase</a>
                </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Services
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="/#blog">Blog Posts</a>
                    <a class="dropdown-item" href="/#website">Website Content</a>
                    <a class="dropdown-item" href="/#tech">Technical Writing</a>
                    <a class="dropdown-item" href="/#press">Press Releases</a>
                    <a class="dropdown-item" href="/#copy">Copywriting</a>
                    <a class="dropdown-item" href="/#ebook">Ebook Writing</a>
                    <a class="dropdown-item" href="/#white">White Papers</a>
                    <a class="dropdown-item" href="/#email">Email Newesletters</a>
                    <a class="dropdown-item" href="/#product">Product Descriptions</a>
                </div>
            </li>
        </ul>
        <ul class="login">
            <button class="btn"><a class="nav-link log" href="/getquote">Get-Quote</a></button>
            
            <!-- <button class="btn"><a class="nav-link log" href="/login">Logout</a></button> -->
            <% if(admin) {%>
                <li class="nav-item">
                    <button class="btn"><a class="nav-link log" href="/logout">Logout</a></button>
                </li>
                    <%}%>
        </ul>
    </div>
</nav>