.conti {
    display: flex;
    flex-direction: column;
    background: url("/images/main3.jpg") rgba(0,0,0,0.5) no-repeat center center/cover;
    background-attachment: fixed;
    background-blend-mode: multiply;
    height: 550px;
}
.conti h1,.conti .create{
    color: white;
    z-index: 10;
}
/* .conti::before{
    content :"";
    width: 100%;
    height: 550px;
    position: absolute;
    z-index: -1;
    background-color: rgb(0,0,0,0.5);
} */

.search {
    width: 70%;
    margin: 30px auto 10px auto;
    padding: 10px;
    text-align: center;
    border: 2px solid black;
    border-radius: 10px;
}

.carded {
    width: 400px;
    min-height: 300px;
    border-radius: 10px !important;
    height: auto;
    margin: 30px 15px 50px;
    padding: 25px;
    box-shadow: 0px 0px 10px -4px black;
    border-left: 2px solid black !important;
    border-bottom: 2px solid black !important;
}

.carded .btn {
    width: 30%;
    padding: 10px;
    margin: 0px 1px;
    border: 1px soild black;

}

.carded .btn1 {
    background-color: #9ccc65 !important;
}

.info {
    margin: 7px 10px;
}

.button-control {
    margin: 7px 10px;
}

.btn {
    color: black;
}

.btn1:hover {
    color: black;
    border: 2px solid #9ccc65 !important;
    background-color: unset !important;
}

.btn2 {
    background-color: red !important;
}

.btn2:hover {
    color: black;
    border: 2px solid red !important;
    background-color: unset !important;
}

.contain {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: auto;
    justify-content: center;
    margin-top: 30px;
}

.btned {
    width: 100% !important;
    border-radius: 10px;
    margin: auto !important;
    padding: 20px !important;
    color: white;
    font-size: 20px !important;
    background-color: #235489 !important;
}

.create {
    text-decoration: none;
    border-radius: 10px;
    width: 20rem;
    margin: auto !important;
    padding: 10px !important;
    color: black;
}

.btned:hover {
    color: #235489;
    border: 3px solid #235489 !important;
    background-color: transparent !important;
    text-decoration: none;
}

@media only screen and (max-width:400px) {
    .carded {
        padding: 15px;
        width: 100%;
    }

    .carded .btn {
        width: 40%;
    }

    h3 {
        font-size: 1.5rem !important;
    }
}

.conti{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.conti h1{
    font-size: 2.5rem;
}