.conti {
    display: flex;
    flex-direction: column;
    background: url("https://img.freepik.com/free-photo/creative-flat-lay-photo-workspace-desk_7861-894.jpg?w=996&t=st=1675627458~exp=1675628058~hmac=d7c86e3edf43871dbdf93e4f293c50f2c454509c8646aac2a4a7018c7753f7fa") no-repeat center center/cover;
    background-attachment: fixed;
    height: 500px;

}

.search {
    width: 70%;
    margin: 30px auto 10px auto;
    padding: 10px;
    text-align: center;
    border: 2px solid black;
    border-radius: 10px;
}

.card {
    width: 70%;
    background-color: #e0e0e05c !important;
    min-height: 300px;
    border-radius: 10px !important;
    height: auto;
    margin: 30px 15px 50px;
    padding: 10px;
    box-shadow: 1px 1px 12px 1px grey;
}

.card .btn {
    width: 30%;
    padding: 10px;
    margin: 0px 1px;
    border: 1px soild black;
    background-color: #009688 !important;
}

.info {
    margin: 7px 10px;
}

.button-control {
    margin: 7px 10px;
}

.btn {
    color: black;
}

.btn1:hover {
    color: black;
    border: 2px solid #009688 !important;
    background-color: unset !important;
}

.contain {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: auto;
    justify-content: center;
}

.btned {
    width: 100% !important;
    border-radius: 10px;
    margin: auto !important;
    padding: 20px !important;
    background-color: #fff176 !important;
}

.create {
    text-decoration: none;
    border-radius: 10px;
    width: 20rem;
    margin: auto !important;
    padding: 10px !important;
    color: black;
}

.btned:hover {
    color: black;
    border: 2px solid #fff176 !important;
    background-color: transparent !important;
    text-decoration: none;
}

@media only screen and (max-width:650px) {
    .card{
        width: 100% !important;
    }
    .create{
        width: 50% !important;
    }
}