<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Company|ContactUs</title>
    <link rel="stylesheet" href="/css/contact.css">

</head>

<body>

    <%- include("partials/navbar.ejs") %>

        <div class="mainbody">
            <div class="left">
                <h1 class="leftin">Get Quotes From Professionals</h1>
                <h4 class="leftin para">Let's talk about everything!</h4>
                <img class="leftin image" style="height:400px; margin: auto;"
                    src="https://img.freepik.com/free-vector/positive-mind-lettering-with-photo_52683-40379.jpg" alt="">
            </div>

            <div class="right">
                <form class="form" action="/send">

                    <input class="input" type="text" name="name" required placeholder="Name" />
                    <input class="input" type="number" name="phone" required placeholder="Phone Number" />
                    
                    <input class="input" type="text" name="email" required placeholder="E-mail" />
                    <div class="email error"></div>

                    <input class="input" type="text" name="organization" placeholder="Enter Your Organization" />

                    <input class="input" type="text" name="subject" placeholder="Subject" />

                    <textarea class="text input" name="body" id="" rows="5" required
                        placeholder="Write your Message"></textarea>

                    <button class="btn button">POST</button>
                </form>
            </div>

        </div>


        <%- include("partials/footer.ejs") %>

            <script src="/js/getquote.js"></script>

</body>

</html>