<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Company|ContactUs</title>
    <link rel="stylesheet" href="/css/contact.css">

</head>

<body>

    <%- include("partials/navbar.ejs") %>

        <div class="mainbody">
            <div class="left">
                <h1 class="leftin">Let's talk about everything!</h1>
                <p class="leftin para">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae, ad.</p>
                <img class="leftin image"
                    src="https://preview.colorlib.com/theme/bootstrap/contact-form-16/images/undraw-contact.svg" alt="">
            </div>

            <div class="right">
                <form class="form" action="/send">

                    <input class="input" type="text" name="name" required placeholder="Name" />

                    <input class="input" type="text" name="email" required placeholder="E-mail" />
                    <div class="email error"></div>

                    <input class="input" type="text" name="subject" placeholder="Subject" />

                    <textarea class="text input" name="body" id="" rows="10" required
                        placeholder="Write your query here!"></textarea>

                    <button class="btn button">Contact</button>
                </form>
            </div>

        </div>


        <%- include("partials/footer.ejs") %>

            <script src="/js/contact.js"></script>

</body>

</html>