<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomePage</title>
    <link rel="stylesheet" href="/css/contact.css">
    <link rel="stylesheet" href="/css/index.css">
</head>

<body>

    <!-- <button onclick="subscribe()">Subscribe</button>

    <script>

        addEventListener("load",async()=>{
            let se  = navigator.serviceWorker.register("./sw.js")
            console.log(sw)
        })

        async function subscribe(){
            let sw  = await navigator.serviceWorker.ready;
            let push = await sw.pushManager.subscribe({
                userVisibleOnly:true,
                applicationServerKey:'BFmJYo-63efRXjjJjY-Mth1atWwd-twXAwMIZsbKYo_7X1xE0sJZjF7AQt9-9kIG47g-Qeb7_oU8tswZNNQmINY'
            })
            console.log(JSON.stringify(push))
        }

    </script> -->



    <%- include("partials/navbar.ejs") %>
        <div class="mainsection ">

            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active landing">
                        <img class="d-block" src="/images/CB.jpg" alt="Third slide">
                    </div>
                    <div class="carousel-item ">
                        <div class="carousel-caption ">
                            <span>Let your content tell the story of your brand</span>
                        </div>
                        <img class="d-block w-100" src="/images/1.png" alt="First slide">
                    </div>

                    <div class="carousel-item">
                        <div class="carousel-caption ">
                            <span>Use your content to do your marketing</span>
                        </div>
                        <img class="d-block w-100" src="/images/2.png" alt="Third slide">
                    </div>
                    <div class="carousel-item">
                        <div class="carousel-caption ">
                            <span>Building brand awareness is the foundation of your business</span>
                        </div>
                        <img class="d-block w-100" src="/images/3.png" alt="Second slide">
                    </div>
                    <div class="carousel-item">
                        <div class="carousel-caption ">
                            <span>Building brand awareness is the foundation of your business</span>
                        </div>
                        <img class="d-block w-100" src="/images/4.jpg" alt="Third slide">
                    </div>
                    <div class="carousel-item">
                        <div class="carousel-caption">
                            <span>Partnering over business is our motto</span>
                        </div>
                        <img class="d-block w-100" src="/images/5.png" alt="Third slide">
                    </div>

                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                </a>
            </div>
        </div>


        <div id="about" class="">
            <h2 class="heading">About Us</h2>
            <img src="https://img.freepik.com/free-vector/blogging-illustration-concept_114360-788.jpg?w=996&t=st=1675853479~exp=1675854079~hmac=adebb670cc1f9ef17f349826dc094d44c9d41eeb9835a26132a0f3f48e0c1369"
                alt="">
            <p class="para">
                We started in 2017 with an aim of revolutionizing the way people read, write and visualize. If you are a
                brand, we could be the story narrator of your brand. We have more than 5 years of experience in this
                niche field of content writing - business and marketing. So whichever industry you might be in, our team
                will create and deliver the best content tailored exactly to your requirements.
                <br>
                <br>
                <b>
                    Content is the king of any business!
                </b>
                <br>
                <br>
                Content is used in more than one way to introduce your company to clients. One can use content to create
                a brand personality and image among target customers.
                And hence we make sure to craft it with maximum accuracy and precision. We make content creation simple,
                hassle-free, and worthy of you.
                <br><br>
                We provide well-researched content solutions through our services all around the world. You can see us
                as a content writing company that partners with its clients and believes in growing together.
                So, Why wait!
                Let’s shake hands and get started for your content today.
            </p>
        </div>

        <div id="services">
            <h2 class="heading">Our Services</h2>
            <div class="section">

                <a href="#">
                    <div class="carded" id="ebook">
                        <img src="https://cdn-icons-png.flaticon.com/128/3854/3854800.png" alt="">
                        <h4>Ebook Writing</h4>
                        <!-- <span>Generate leads for your business by having an informative Ebook crafted by our eBook
                            writers.</span> -->
                    </div>
                </a>

                <a href="#">
                    <div class="carded" id="white">
                        <img src="https://cdn-icons-png.flaticon.com/128/3854/3854800.png" alt="">
                        <h4>White Papers</h4>
                        <!-- <span>Showcase yourself as an expert in your specific niche by publishing quality white
                            papers</span> -->
                    </div>
                </a>

                <a href="#">
                    <div class="carded" id="product">
                        <img src="https://cdn-icons-png.flaticon.com/128/3854/3854800.png" alt="">
                        <h4>Product Description</h4>
                        <!-- <span>Generate more revenue from your online store by having engaging and informative product
                            descriptions.</span> -->
                    </div>
                </a>

                <a href="#">
                    <div class="carded" id="press">
                        <img src="https://cdn-icons-png.flaticon.com/128/3854/3854800.png" alt="">
                        <h4>Press Releases</h4>
                        <!-- <span>Never leave any chance to market your business with the help of our press release writing
                            services.</span> -->
                    </div>
                </a>

                <a href="#">
                    <div class="carded" id="blog">
                        <img src="https://cdn-icons-png.flaticon.com/128/3854/3854800.png" alt="">
                        <h4>Blog Post</h4>
                        <!-- <span>Take your website to the next level by communicating your brand goals and ideas through a
                            blog.</span> -->
                    </div>
                </a>

                <a href="#">
                    <div class="carded" id="email">
                        <img src="https://cdn-icons-png.flaticon.com/128/3854/3854800.png" alt="">
                        <h4>Email Newsletter</h4>
                        <!-- <span>Custom email copies written by professional writers provided as per your business
                            requirements.</span> -->
                    </div>
                </a>




                <a href="#">
                    <div class="carded" id="tech">
                        <img src="https://cdn-icons-png.flaticon.com/128/3854/3854800.png" alt="">
                        <h4>Technical Writing</h4>
                        <!-- <span>Our professional writers have got the right knowledge and expertise to provide technical
                            writing services.</span> -->
                    </div>
                </a>

                <a href="#">
                    <div class="carded" id="website">
                        <img src="https://cdn-icons-png.flaticon.com/128/3854/3854800.png" alt="">
                        <h4>Website Content</h4>
                        <!-- <span>Never miss the chance of engaging your targeted visitors with your attention grabbing website
                            content.</span> -->
                    </div>
                </a>


                <a href="#">

                    <div class="carded" id="copy">
                        <img src="https://cdn-icons-png.flaticon.com/128/3854/3854800.png" alt="">
                        <h4>Copy Writing</h4>
                        <!-- <span>Get more conversions out of your paid ads campaigns with our copywriting services.</span> -->
                    </div>
                </a>



            </div>


        </div>


        <div id="promise">
            <h4 style="color:#0056b3">
                What you can expect
            </h4>
            <h2 class="heading">
                With Our Content Writing Services
            </h2>
            <div class="promise">

                <div class="element">
                    <h3>
                        Well researched content
                    </h3>
                    <span>
                        we have content writers who are experts and experienced in their respective fields and we put
                        utmost care in providing accurate content to our customers.
                    </span>
                </div>

                <div class="element">
                    <h3>
                        Customized content
                    </h3>
                    <span>
                        We at content Bazzaar understand the value addition content can do to any business. So, every
                        time we make content tailored to the need of individual customers.
                    </span>
                </div>


                <div class="element">
                    <h3>
                        No plagiarism

                    </h3>
                    <span>
                        This is our promise that you will never get any kind of copied content from us. We have 3 level
                        check system to stop any kind of plagarism
                    </span>
                </div>

                <div class="element">
                    <h3>
                        Quick and in time
                    </h3>
                    <span>
                        We are always there for you. Every time you have any query, that will be answered in 24 to 48
                        hrs time. Also me make sure to deliver your Content well within the deadline.
                    </span>
                </div>

                <div class="element">
                    <h3>
                        SEO optimised content
                    </h3>
                    <span>
                        we provide content with keeping in mind to use the of trending words and phrases.
                    </span>
                </div>
            </div>

        </div>




        <!-- faqs section -->

            <div class="accordion container accordion-flush" id="accordionFlushExample">
                <h2 class="heading">Frequently Asked Questions</h2>
                <br>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingOne">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                            <!-- faq title -->
                            What makes Content Bazzaar the best content writing agency?
                        </button>
                    </h2>
                    <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
                        data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            <!-- faq content -->
                            One of our distinctive traits is our commitment and passion for producing top-notch content for our clients. We never compromise on the quality of our work or the user experience we provide. We employ an efficient content delivery approach to ensure our clients receive exceptional content.
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                            <!-- faq title -->
                            What are the costs of services provided by Content Bazzaar?
                        </button>
                    </h2>
                    <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
                        data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            <!-- faq content -->
                            At Content Bazzaar, we offer flexible and tailored plans to meet your unique content needs. Our standard pricing model is based on the cost per word, but we are open to exploring alternative pricing models or negotiating prices if necessary. We understand that every client has their own specific requirements, and we do not believe in a one-size-fits-all approach. Therefore, we do not limit ourselves to just a few fixed plans and instead strive to create customized solutions for each client.
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-heading3">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapse3" aria-expanded="false" aria-controls="flush-collapse3">
                            <!-- faq title -->
                            Do Content Bazzaar take bulk content orders?
                        </button>
                    </h2>
                    <div id="flush-collapse3" class="accordion-collapse collapse" aria-labelledby="flush-heading3"
                        data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            <!-- faq content -->
                            Our services are well-suited to handling bulk content requirements. With a widespread team of dedicated writers and editors, as well as partnerships with leading content creators, we're capable of managing and delivering high-quality content regardless of scale. We've successfully completed numerous bulk assignments in the past and always prioritize maintaining a balance between quality and quantity.
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-heading4">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapse4" aria-expanded="false" aria-controls="flush-collapse4">
                            <!-- faq title -->
                            Do Content Bazzaar focus on SEO optimized contents?

                        </button>
                    </h2>
                    <div id="flush-collapse4" class="accordion-collapse collapse" aria-labelledby="flush-heading4"
                        data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            <!-- faq content -->
                            At Content Bazzaar, we specialize in SEO content writing which is a popular content format. Our team of experienced writers understands the significance of keywords in achieving high search engine rankings. They have the skill to seamlessly incorporate keywords into content while maintaining a cohesive and readable flow. Our goal is to provide exceptional content that meets the highest standards.
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-heading5">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapse5" aria-expanded="false" aria-controls="flush-collapse5">
                            <!-- faq title -->
                            What all niches Content Bazzaar cater to?

                        </button>
                    </h2>
                    <div id="flush-collapse5" class="accordion-collapse collapse" aria-labelledby="flush-heading5"
                        data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            <!-- faq content -->
                            Our services cater to a wide range of industries, assisting businesses in establishing a strong digital presence through effective content marketing strategies. Our experience spans across various industries, including fashion, digital marketing, technology, and personal development, having served numerous clients by delivering top-notch and compelling content that aligns with their specific marketing goals.
                        </div>
                    </div>
                </div>
                
                
            </div>




            <!-- faqs section -->



            <div id="contact">
                <h2 class="heading">Contact Us</h2>
                <div class="mainbody">
                    <div class="left">
                        <h1 class="leftin">Congratulations!
                            <br>
                            You are at the right place
                        </h1>
                        <span class="leftin para">We are here to help you out with your queries. Let's get started in
                            giving
                            shape to your idea in the form of content.</span>
                        <img class="leftin image"
                            src="https://preview.colorlib.com/theme/bootstrap/contact-form-16/images/undraw-contact.svg"
                            alt="">
                    </div>

                    <div class="right">
                        <form class="form" action="/send">

                            <input class="input" type="text" name="name" required placeholder="Name" />

                            <input class="input" type="text" name="email" required placeholder="E-mail" />
                            <div class="email error"></div>

                            <input class="input" type="text" name="subject" placeholder="Subject" />

                            <textarea class="text input" name="body" id="" rows="5" required
                                placeholder="Write your query here!"></textarea>

                            <button class="btn button">Contact</button>
                        </form>
                    </div>

                </div>
            </div>


            <div class="counter">
                <div class="client counter-1 ">
                    <div class="counter-style">
                        <h1 data-val="100" class="counter-val"></h1>
                        <h1>+</h1>
                    </div>
                    <span>clients</span>
                </div>
                <div class="content counter-1 ">
                    <div class="counter-style">
                        <h1 data-val="5" class="counter-val"></h1>
                        <h1>K+</h1>
                    </div>
                    <span>Content Piece Delivered</span>
                </div>
                <div class="word counter-1 ">
                    <div class="counter-style">
                        <h1 data-val="1" class="counter-val"></h1>
                        <h1>M+</h1>
                    </div>
                    <span>Words Written</span>
                </div>
                <div class="pro counter-1 ">
                    <div class="counter-style">
                        <h1 data-val="200" class="counter-val"></h1>
                        <h1>+</h1>
                    </div>
                    <span>Projects</span>
                </div>
            </div>


            <%- include("partials/footer.ejs") %>

                <script src="/js/contact.js"></script>


                <script>

                    let observer = new IntersectionObserver((entries) => {
                        entries.forEach((element) => {
                            if (element.isIntersecting) {
                                $(element.target).prop('Counter-1', 0).animate({
                                    Counter: $(element.target).data('val')
                                }, {
                                    duration: 2500,
                                    easing: 'swing',
                                    step: function (now) {
                                        $(element.target).text(Math.ceil(now));
                                    }
                                });
                            }
                            else {
                                $(element.target).stop();
                            }
                        })
                    });

                    const box = document.getElementsByClassName('counter-val');
                    for (let i = 0; i < box.length; i++) {
                        observer.observe(box[i])
                    }

                </script>
</body>

</html>
